#south {
     position: absolute;
     left: 45%;
     top: 2%;
     
}

#east {
     position: absolute;
     right: 2%;
     top: 45%;
}

#west {
     position: absolute;
     left: 2%;
     top: 45%;
}

.arrow {
     transform: scale(0.4);
     transition: .2s ease-in-out;
}

.arrow:hover {
     transform: scale(.55);
}