.stat-list {
     display: flex;
     position: absolute;

     left: 10px;
     top: 117px;
     width: 7%;
     height: 300px;

     opacity: 0.8;
}

.stat {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 300px;
     width: 5rem;
     min-width: 3rem;
}

.img-stat{
     height: 50px;
     width: 50px;
     transform: scale(0.7);
     padding-top: 10px;

     transition: .2s ease-in-out;
}

/* Animació que quan s'activa fa un puls al element aplicat */
.pulse {
     transition: .2s ease-in;
     transform: scale(0.9);
}
