.stat-list {
     display: flex;
     position: absolute;
     flex-direction: column;
     left: 0;
     top: 117px;
     width: 7%;
     height: 300px;

     opacity: 0.8;
}

.stat {
     display: flex;
     position: relative;
     align-items: center;
     justify-content: space-between;
     align-content: flex-start;
}

#heart-img {
     transform: scale(0.7);
}